.card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.card__image {
    width: 100%;
}

.card__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 20px;
    
}


.card__name {
    font-weight: 900;
    font-family: "Inter", sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__like-button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    height: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}


.card__like-button:hover {
    opacity: .5;
}